html,
body {
  font-family: Courier;
  background-color: #77b2c9;
}

div#container {
  min-height: 600px;
  width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
  padding: 10px;
  background: #E8DEDD;
  border-radius: 50px 0 0 50px;
  border: white solid 10px;
  box-shadow: 4px 3px 7px 2px #00000040;
  text-align: center;
}

div.fanfic-container {
  min-height: 100px;
  width: 1000px;
  margin: 0 auto;
  margin: 20px;
  padding-left: 40px;
  background: white;
  border-radius: 50px 0 0 50px;
  border: #FFE7B6 solid 5px;
  box-shadow: 4px 3px 7px 2px #00000040;
  text-align: left;
}

ul {
  list-style: none;
}
